<%= form_for @store, :html => { :class => "form-horizontal store" } do |f| %>

    <% if @store.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @store.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@store[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :station, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :station, :class => 'form-control' %>
    </div>
    <%= error_span(@store[:station]) %>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@store[:address]) %>
  </div>
  <div class="control-group">
    <%= f.label :store_category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :store_category_id, :class => 'form-control' %>
    </div>
    <%= error_span(@store[:store_category_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%= error_span(@store[:phone]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@store[:email]) %>
  </div>
  <div class="control-group">
    <%= f.label :website, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website, :class => 'form-control' %>
    </div>
    <%= error_span(@store[:website]) %>
  </div>
  <div class="control-group">
    <%= f.label :confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :confirmation, :class => 'form-control' %>
    </div>
    <%= error_span(@store[:confirmation]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            stores_path, :class => 'btn btn-default' %>

<% end %>
