<%= form_for @store_category, :html => { :class => "form-horizontal store_category" } do |f| %>

    <% if @store_category.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@store_category.errors.count, "error") %> prohibited this store_category from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @store_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %><br />
    </div>
    <%= error_span(@store_category[:name]) %>
  </div>

  <div class="control-group">
    <%= f.fields_for :images, @store_category.images.build do |i| %>

    <div class="controls">
      <%= i.file_field :avatar, :class => 'form-control' %>
    </div>  <br />
    
    <% end %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            store_categories_path, :class => 'btn btn-default' %>

<% end %>
